@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-hindi: var(--font-hindi);
    --color-gradient-light: linear-gradient(180deg, #ffffff 40.13%, rgb(209, 220, 255) 100%);
    --color-dark: rgba(5, 5, 5);
    --height-500: 500px;
    --shadow-forest-glow: -8px 0px 105px -15px rgba(25,46,3,0.55);
    --shadow-forest-glow-dark: 1px 29px 53px -25px rgba(240, 255, 220, 0.25);
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-rendering: optimizeLegibility !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
}

body {
    font-family: var(--font-bricolage-sans), sans-serif;
}

.marquee-animate {
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: var(--play, running);
    animation-duration: var(--duration, 20s);
}

.marquee-animate-vertical {
    animation-name: marquee-vertical;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: var(--play, running);
    animation-duration: var(--duration, 20s);
}


/* .group:hover .marquee-animate,
.group:hover .marquee-animate-vertical {
    --play: paused;
} */


@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes marquee-vertical {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - var(--gap)));
    }
}
